config.json
message.py

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
log.txt
divera_websocket.service
divera_websocket.service.backup
divera_websocket.service.backup.2
divera_websocket.service.backup.3
divera_websocket.service.backup.4
divera_websocket.service.backup.5
divera_websocket.service.backup.6
divera_websocket.service.backup.7
divera_websocket.service.backup.8
divera_websocket.service.backup.9
divera_websocket.service.backup.10

.DS_Store
Thumbs.db